<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{page.meta}}">
<title>Design Rationale</title>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css">
<link rel="stylesheet" type="text/css" href="https://rawgit.com/samhoudmedia/system-sam/master/build/main.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
