<nav>
  <ol>
    <li><a href="#introductie">Introductie</a></li>
    <li><a href="#ontwerpvraag">Ontwerpvraag</a></li>
    <li><a href="#onderbouwing">Onderbouwing</a></li>
    <li><a href="#prototypes">Prototypes</a></li>
    <li><a href="#conclusie">Conclusie</a></li>
    <li><a href="#meta">Meta</a></li>
    <hr>
    <li><a href="https://productbiografie.dandevri.es">Productbiografie</a></li>
    <li><a href="https://productbiografie.dandevri.es/reflection/REFLECTION.html">Reflectie</a></li>
    <li><a href="https://productbiografie.dandevri.es/GLOSSARY.html">Woordenlijst</a></li>
    <li><a href="https://productbiografie.dandevri.es/misc/LITERATURE.html">Bibliografie</a></li>
  </ol>
</nav>