<nav>
  <ol>
    <li><a href="#introductie">Introductie</a></li>
    <li><a href="#ontwerpvraag">Ontwerpvraag</a></li>
    <li><a href="#concept">Concept</a></li>
    <li><a href="#research">Research</a></li>
    <li><a href="#afbakening">Afbakening</a></li>
    <li><a href="#prototypes">Prototypes</a></li>
    <li><a href="#conclusie">Conclusie</a></li>
    <li><a href="#meta">Meta</a></li>
  </ol>
  <hr>
  <ul>
    <li><a href="https://productbiografie.dandevri.es">Productbiografie</a></li>
    <li><a href="https://productbiografie.dandevri.es/GLOSSARY.html">Woordenlijst</a></li>
  </ul>
</nav>