header {
  background: $primary-color;
  color: #fff;
  margin: 0;
  z-index: 1;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0rem 5rem 12.5%;
  position: relative;

  h1 {
    font-size: 3.5em;
  }
}